.nav-menu {
  flex: 1;
  list-style: none;
  display: flex;
  user-select: none;

  li {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(256, 256, 256, 0.3);

    a {
      text-decoration: none;
      font-size: 14px;
      color: #fff;
    }

    &:first-child {
      padding-left: 0;
      padding-right: 10px;
    }

    &:last-child {
      padding-left: 10px;
      padding-right: 0;
      border-right: none;
    }
  }
}
