.playback-footer {
  display: flex;
  align-content: center;
  height: 50px;
  width: 100%;

  .artwork {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .song-details {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-weight: bolder;
      font-size: 16px;
      line-height: 16px;
    }
    .artist {
      font-weight: 200;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
