.user-info {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  margin-right: 16px;
  font-size: 14px; }
  .user-info .user-thumbnail {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 16px; }
  .user-info .user-name {
    color: white;
    font-size: 14px; }
  .user-info .user-name,
  .user-info .user-log-out {
    flex: none; }
  .user-info .user-log-out {
    font-size: 12px;
    margin-left: 8px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer; }
