* {
  font-family: Roboto;
}
body {
  margin-bottom: 50px;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .nav-bar {
    flex-shrink: 0;
  }
  .content {
    flex-grow: 1;
    overflow: auto;
  }
}
