.playlist {
  background: #fff;
  height: 75px;
  width: 230px;
  cursor: pointer;

  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  margin: 5px;
}

.playlist-image {
  margin: 0;
  float: left;
  height: 75px;
  width: 75px;
  background-size: 75px 75px;
  box-shadow: inset 0 0 50px black;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.playlist:hover {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2);
}

.playlist-info {
  vertical-align: middle;
  text-align: center;
}

.playlist-name {
  font-family: arial;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  color: rgb(72, 72, 72);
}

.playlist-author {
  font-size: 0.7em;
}
