.playlist {
  background: #fff;
  height: 300px;
  width: 200px;
  cursor: pointer;
  transition: all 0.1 ease;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 3px 0;
  margin: 10px;

  &:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 1px;
    transition: all 0.1s ease;
  }

  .author {
    font-size: 1em;
    color: #2c63b0;
  }
  .info {
    display: inline-block;
    text-align: center;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .name {
    font-size: 1.1em;
    font-weight: bold;
    color: #2c63b0;
  }
}
