.row,
.column-header-container {
  border: 1px solid black;
  display: flex;
  position: relative;
  justify-content: space-around;
  text-align: center;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  color: #729bd3;
  padding: 5px;
}
.track-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.name {
  width: 40%;
}
.number {
  width: 5%;
}
.artist {
  width: 30%;
}
.date {
  width: 20%;
}

.column-header {
  font-weight: bold;
  text-align: center;
}

.right-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
