.user-header {
  display: flex;
  align-items: center;

  background-color: #101117;
  color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px 0px;
  height: 50px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  overflow: hidden;
}

.user-info {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
  user-select: none;
}
.user-info img {
  margin-right: 10px;
  border-radius: 25px;
}

.user-thumbnail {
  height: 30px;
  width: 30px;
}

.user-info a.user-log-out {
  font-size: 12px;
  margin-left: 10px;
  color: #555;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
}
.nav-menu li a {
  text-decoration: none;
  color: #ccc;  
}
.nav-menu li:first-child {
  padding-left: 0;
  padding-right: 10px;
}
.nav-menu li {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #555;
}
.nav-menu li:last-child {
  padding-left: 10px;
  padding-right: 0px;
  border-right: none;
}
